@model Student
@{
    ViewData["Title"] = "Read";
    Layout = "_Layout";
}

<div class="student">
    <div>
        @Model.Name
    </div>
    <div>
        @Model.LastName
    </div>
    <div>
        @Model.Group
    </div>
</div>